.infoBox{
    flex: 1;
    cursor: pointer;
    padding-left: 1vw;
}
.infoBox:not(:last-child){
    margin-right: 15px;
}
.infoBox--selected{
    border-top: 10px solid greenyellow;
}
.infoBox--notRed{
    color: rgb(105, 141, 52) !important;
}
.InfoBox__cases{
    color:#cc1034;
    font-weight: 600 !important;
    margin-bottom: 0.5vh;
    font-size: 3.5vh !important;
    
}
.infoBox--red{
    border-top: 10px solid red;
}
.InfoBox__total{
    color:#6c757d;
    font-weight: 700 !important;
     font-size: 2.3vh !important;
}
.InfoBox__title{
    color:black;
    margin-bottom: .5vh;
    font-weight: bold !important;
    font-size: 2.5vh !important;
}   
@media (max-width:500px) {
    .infoBox{
      margin-top: 10px;
    }
    .infoBox:not(:last-child){
        margin-right: 0;
    }
  }