*{
  
  margin: 0;
}
body{
  height: 100%;
  /* overflow: hidden; */
  background-color: rgb(200, 223, 238) ;
  min-height: 650px;
}
.app{
  display: flex;
  height: 100%;
  justify-content: space-evenly;
  padding: 3vh;
}
.app__left{
  height: 94vh;
  flex:0.9;
  
}
.app__right{
  /* height: calc(100vh - 20px); */
  height: 94vh;

}
.app__header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2vh;
  height: 6vh;
}
.title{
  font-weight: 700 !important;
  font-size: 3.5vh !important;
}
.app__header h2{
  color: rgb(12, 10, 10);
  
}
.app__dropdown{
  background-color: white;
}
.app__stats{
  display: flex;
  justify-content: space-between;
  height: 20vh;
}
@media (max-width:835px) {
  .app{
    flex-direction: column;
  }
  .app__right{
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}
@media (max-width:500px) {
  .app__stats{
    flex-direction: column;
    height: 60vh !important;
  }
}
  

@media (max-width:360px) {
      .app__dropdown{
        width:55vw;
      }
}

